footer{
    background-color: var(--md-color);
    color: var(--w-color);
    padding: 40px;
}

.footer_container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.footer_nav{
    margin-left: 50px;
    flex: 0 0 200px;
}

.footer_contact_info{
    flex: 0 0 300px;
}

.footer_lic{
    margin-right: 50px;
    flex: 1;
    min-width: 300px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

footer a{
    color: var(--w-color);
    text-decoration: none;
}

footer a:hover{
    color: var(--mg-color);
}

.lic{
    text-align: center;
}

/* Планшеты */
@media (max-width: 900px) {

    .footer_container {
        gap: 30px;
    }

    .footer_nav,
    .footer_contact_info,
    .footer_lic {
        flex: 1 1 100%;
        margin: 0;
        text-align: center;
    }

    .footer_nav ul,
    .footer_contact_info ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}


/* Телефоны */
@media (max-width: 600px) {

    footer {
        padding: 20px;
    }

    .footer_container {
        gap: 20px;
    }

    .lic {
        font-size: 14px;
        line-height: 1.5;
    }

    footer a {
        font-size: 16px;
    }

}