@import url(./news_modal.css);

body {
    background-color: var(--dg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    margin-top: 10px;
    margin-bottom: 30px;
    flex: 1;
    color: var(--w-color);
}

.page_container{
    max-width: 1440px;
    padding-inline: 10px;
    margin: 0 auto;
}

.section_top_container{
    max-width: 1340px;
    background-image: linear-gradient(45deg,rgba(47, 45, 45, 0.9),rgba(111, 35, 35, 0.8),rgba(108, 50, 50, 0.9));
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-inline: 40px;
    padding-block: 20px;
}

.section_top_container p{
    margin-bottom: 15px;
}

.top_header_bold{
    margin-bottom: 20px;
}

.section_news_container{
    width: 100%;
    max-width: 1340px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2));
    border-radius: 40px;
    margin: 0 auto;
    padding-inline: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.news_header{
    margin-left: 50px;
}

.news_articles_container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
}

.news_article_container{
    flex: 1;
    max-width: 410px;
    min-width: 280px;
    background-image: linear-gradient(var(--lb-color),var(--db-color));
    border-radius: 20px;
    overflow: hidden;
}

.news_img{
    width: 100%;
}

.news_info_container{
    padding: 20px;
}

.news_link_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.news_link_container a{
    color: var(--w-color);
    text-decoration: none;
    font-size: 24px;
    width: 200px;
    text-align: center;
    border: solid 2px currentColor;
    border-radius: 6px;
}

.news_link_container a:hover{
    color: var(--mg-color);
}

.section_course_container{
    width: 100%;
    max-width: 1340px;
    background-image: linear-gradient(45deg,rgba(47, 45, 45, 0.9),rgba(111, 35, 35, 0.8),rgba(108, 50, 50, 0.9));
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
}

.section_course_info_container{
    flex: 2;
    padding-inline: 40px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
}

.section_course_img_container{
    flex: 1;
    display: flex;
    overflow: hidden;
}

.course_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.course_link{
    display: block;
    margin: auto;
    color: var(--w-color);
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    width: 300px;
    border: solid 2px currentColor;
    border-radius: 6px;
}

.course_link:hover{
    color: var(--mg-color);
}

.section_comments_header{
    margin-left: 50px;
    margin-bottom: 10px;
}

.section_course_comments{
    width: 100%;
    max-width: 1340px;
    padding: 20px 10px 30px 10px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2));
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.comments_slider_container{
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.swiper-button-prev,
.swiper-button-next{
    display: none;
}

.slider_button_container{
    width: 80px;
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.module_button_prev,
.module_button_next{
    padding: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_comment{
    width: auto;
    background-color: var(--w-color);
    padding: 24px;
    border-radius: 12px;
    color: var(--md-color);
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.comment_header{
    font-weight: bold;
    margin-bottom: 15px;
}

.comment_header p{
    margin: 0px;
}

@media (max-width: 1024px){

    .news_articles_container{
        flex-wrap: wrap;
    }

    .news_article_container{
        width: calc(50% - 10px);
    }

    .section_course_container{
        flex-direction: column;
    }

    .section_course_info_container{
        flex: 1;
    }

    .section_course_img_container{
        height: 350px;
    }

    .comments_slider_container{
        gap: 10px;
    }

    .slider_button_container{
        width: 60px;
        flex: 0 0 60px;
    }

    .module_button_prev,
    .module_button_next{
        width: 50px;
        height: 50px;
    }

}


@media (max-width: 768px){

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 24px;
    }

    h4{
        font-size: 20px;
    }

    .h4-bold{
        font-size: 20px;
    }

    .page_container{
        padding-inline: 5px;
    }

    .section_top_container{
        padding-inline: 20px;
        border-radius: 25px;
    }

    .section_news_container{
        padding-inline: 15px;
        border-radius: 25px;
    }

    .news_header,
    .section_comments_header{
        margin-left: 0;
        text-align: center;
    }

    .news_articles_container{
        flex-direction: column;
    }

    .news_article_container{
        width: 100%;
        max-width: 500px;
    }

    .news_link_container a{
        width: 100%;
        max-width: 250px;
        font-size: 20px;
    }

    .section_course_container{
        border-radius: 25px;
    }

    .section_course_info_container{
        padding-inline: 20px;
    }

    .section_course_img_container{
        height: 250px;
    }

    .course_link{
        width: 100%;
        max-width: 300px;
        font-size: 20px;
    }

    .slider_button_container{
        display: none;
    }

    .comments_slider_container{
        display: block;
        width: 100%;
    }

    .comments-wrapper{
        width: 100%;
    }

    .course_comment{
        padding: 20px;
    }

}