body {
    background-color: var(--dg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    margin-top: 10px;
    margin-bottom: 30px;
    flex: 1;
    color: var(--w-color);
}

.page_container{
    max-width: 1440px;
    padding-inline: 10px;
    margin: 0 auto;
}

.section_news_container{
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding-inline: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.news_header{
    margin-left: 50px;
}

.news_articles_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

@media(max-width: 1100px){
    .news_articles_container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

@media(max-width: 800px){
    .news_articles_container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
}


.news_article_container{
    width: 410px;
    background-image: radial-gradient( rgb(111, 35, 35),rgb(47, 45, 45));
    border-radius: 20px;
    overflow: hidden;
}

.news_img{
    width: 100%;
}

.news_info_container{
    padding: 20px;
}