.modal{
    display: none;
    position: fixed;
    inset: 0;

    /* Затемнение страницы */
    background: rgba(0, 0, 0, 0.4);

    /* Размытие фона */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    z-index: 1000;
}

.modal_content{
    position: relative;
    width: 80%;
    max-width: 900px;
    max-height: 90vh;
    overflow-y: auto;

    /* Фон окна */
    background-image: radial-gradient( rgb(111, 35, 35),rgb(47, 45, 45));
    margin: 50px auto;
    padding-block: 30px;
    padding-inline: 50px;
    border-radius: 15px;

    /* Небольшая тень */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;

    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    cursor: pointer;

}

.close img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

#modalImg{
    width:100%;
    max-height:400px;
    object-fit:cover;

    border-radius:10px;

    margin-bottom:20px;
}

#modalTitle{
    margin: 10px 0;
}

.modal_content p{
    line-height:1.6;
    word-break: break-word;
}

@media(max-width:800px){

    .modal_content{
        width:90%;
        padding:30px;
    }

    #modalTitle{
        font-size: 1.5rem;
    }

    .modal_content p{
        font-size: 0.95rem;
        line-height: 1.5;
    }

    #modalDate{
        font-size: 0.9rem;
    }
}

@media(max-width:500px){

    .modal_content{
        width:95%;
        max-height:95vh;
        padding:20px;
        margin:20px auto;
    }

    .close{
        width: 38px;
        height: 38px;
        top: 10px;
        right: 10px;
    }

    .close img{
        width: 14px;
        height: 14px;
    }

    #modalTitle{
        margin-top:20px;
        font-size: 1.25rem;
    }

    .modal_content p{
        font-size: 0.9rem;
        line-height: 1.45;
    }

    #modalDate{
        font-size: 0.8rem;
    }

    #modalImg{
        max-height:250px;
    }
}
